[submodule "samples-for-ai"]
	path = samples-for-ai
	url = https://github.com/Microsoft/samples-for-ai.git
[submodule "IronPythonTutorials"]
	path = IronPythonTutorials
	url = https://github.com/NeedfulSoftware/IronPythonTutorials.git
[submodule "pythonnet"]
	path = pythonnet
	url = https://github.com/pythonnet/pythonnet.git
